.admin-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
  margin-bottom: 10px;
  height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 20px; /* Add some padding inside the element */
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
  margin-bottom: 30px; /* Adds space at the bottom */

}


.content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  margin-left: 450px;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
}
.admin-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  
}



.button-container button {
  padding: 10px 20px;
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  text-align: center;
  -webkit-user-select: none;
  touch-action: manipulation;
}
 

.button-container button:hover {
  background-color: skyblue !important; /* Darker shade of green */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.content-container.active {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
}
